{% extends 'base.html' %}

{% block contents %}
<form action="" method="POST">
    <table class="table">
        <tr>
            <th>本種</th>
            <td>{{ book.bookType }}</td>
        </tr>
        <tr>
            <th>書籍名</th>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <th>出版社</th>
            <td>{{ book.publisher }}</td>
        </tr>
    </table>
    <p>こちらのデータを削除します。</p>
    <button type="submit" class="btn btn-primary btn-sm">送信</button>
    <a href="{% url 'ReadingRec:index' %}" class="btn btn-primary btn-sm">戻る</a>
    {% csrf_token %}
</form>
{% endblock %}