{% extends 'base.html' %}

{% block contents %}


  <canvas id="chart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script>
    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['G', 'E', 'I', 'S', 'T', 'E', 'R'],
        datasets: [{
          label: 'alice',
          data: [7, 19, 3, 17, 6, 3, 12],
          backgroundColor: [
            "#2ecc71",
            "#3498db",
            "#95a5a6",
            "#9b59b6",
            "#f1c40f",
            "#e74c3c",
            "#34495e"
          ]
        }]
      }
    });
  </script>
{% endblock %}